//
// Forms.scss
//

// checkbox input right

.form-check-right {
    padding-left: 0;
    display: inline-block;
    padding-right: $form-check-padding-start;
    .form-check-input {
        float: right;
        margin-left: 0;
        margin-right: $form-check-padding-start * -1;
    }
    .form-check-label {
        display: block;
    }
}

.form-check {
    position: relative;
    text-align: left /*rtl: right*/;
    user-select: none;
}

.form-check-input,
.form-check-label {
    cursor: pointer;
    margin-bottom: 0;
    user-select: none;
    background-color: transparent;
    border-color: var(--#{$prefix}secondary-color);
}

// Switch sizes

.form-switch-md {
    padding-left: 2.5rem;
    min-height: 24px;
    line-height: 24px;
    .form-check-input {
        width: 40px;
        height: 20px;
        left: -0.5rem;
        position: relative;
    }

    .form-check-label {
        vertical-align: middle;
    }
}

.form-switch-lg {
    padding-left: 2.75rem;
    min-height: 28px;
    line-height: 28px;
    .form-check-input {
        width: 48px;
        height: 24px;
        left: -0.75rem;
        position: relative;
    }
}

input[type="radio"] {
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    display: none;
  }
input[type="radio"] ~ label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 0;
  }
  input[type="radio"] ~ label::before {
    content: "\f111";
    position: absolute;
    font-family: var(--icon-font);
    left: 0;
    top: -1px;
    width: 18px;
    height: 18px;
    padding-left: 0.5px;
    font-size: 0.6em;
    line-height: 19px;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 100%;
    font-weight: 700;
    background: var(--white-color);
    color: transparent;
    transition: all 0.2s ease;
  }
  input[type="radio"]:checked ~ label::before {
    border-color: #007bff;
    background-color: #007bff;
  }